In [1]:
import pandas as pd
import pymongo
client = pymongo.MongoClient("mongodb+srv://yashmohite:12345678ym@cluster0.urvqe3y.mongodb.net/?retryWrites=true&w=majority")
db = client.test #pointer 
print(db)

Database(MongoClient(host=['ac-d6qyvfk-shard-00-02.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-00.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-01.urvqe3y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lkhn33-shard-0', tls=True), 'test')

In [2]:
db = client["covid-19"]

In [3]:
collection = db["records"]

In [4]:
data = list(collection.find())

In [8]:
data = pd.DataFrame(data)

In [10]:
data.drop("_id",axis=1,inplace=True)

In [11]:
data

,id,rank,Country,Continent,TwoLetterSymbol,ThreeLetterSymbol,Infection_Risk,Case_Fatality_Rate,Test_Percentage,Recovery_Proporation,...,ActiveCases,TotalTests,Population,one_Caseevery_X_ppl,one_Deathevery_X_ppl,one_Testevery_X_ppl,Deaths_1M_pop,Serious_Critical,Tests_1M_Pop,TotCases_1M_Pop
0,f6ecf8d7-5867-42dc-9290-24fda4cb14f0,2,India,Asia,in,ind,3.18,1.19,64.13,98.78,...,13559,902104560,1406631776,31,2651,2,377,698,641322,31752
1,bc4902f3-885b-4666-bbae-a159b53c831b,6,S. Korea,Asia,kr,kor,50.62,0.11,30.79,97.15,...,710518,15804065,51329899,2,1741,3,574,336,307892,506170
2,905d7fab-0083-4209-8a10-61f8b3e74994,9,Japan,Asia,jp,jpn,18.15,0.21,62.35,90.07,...,2215002,78307523,125584838,6,2664,2,375,176,623543,181473
3,a30588f4-4e4b-4e3b-92b2-1baeb341682e,11,Turkey,Asia,tr,tur,19.77,0.60,190.21,99.40,...,0,162743369,85561976,5,845,1,1183,0,1902052,197747
4,de1a2462-a817-4b62-839f-9c0f5f717eda,13,Vietnam,Asia,vn,vnm,11.63,0.38,86.73,92.16,...,858482,85826548,98953541,9,2292,1,436,77,867342,116283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,86c418c9-9bad-4c05-90a0-31f87650ee52,148,Syria,Asia,sy,syr,0.30,5.51,0.76,94.48,...,6,146269,19364809,338,6122,132,163,0,7553,2963
94,3bf85af0-0824-456e-b402-e67770e0d954,172,Timor-Leste,Asia,tl,tls,1.70,0.59,20.34,99.11,...,70,278529,1369429,59,9923,5,101,0,203391,17022
95,ade1dd49-6935-41ea-9387-173c6fabbdf2,183,Tajikistan,Asia,tj,tjk,0.18,0.70,0.00,97.07,...,397,0,9957464,560,79660,0,13,0,0,1786
96,7571007a-00f6-4500-bb60-f4fefbd4e388,196,Yemen,Asia,ye,yem,0.04,18.07,1.06,76.38,...,662,329592,31154867,2608,14430,95,69,23,10579,383
97,4f5de98a-49e3-4394-9534-b4b0c800ff96,222,Macao,Asia,mo,mac,0.12,0.75,1.18,98.99,...,2,7850,667490,840,111248,85,9,0,11760,1191

In [12]:
data.to_csv("Covid-19_Asia.csv")