In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://yashmohite:12345678ym@cluster0.urvqe3y.mongodb.net/?retryWrites=true&w=majority")
db = client.test #pointer 
print(db)

Database(MongoClient(host=['ac-d6qyvfk-shard-00-00.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-01.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-02.urvqe3y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lkhn33-shard-0', tls=True), 'test')

In [2]:
db = client["Work"]

In [3]:
collection = db["employee"]

In [4]:
data = {
    "name":"yash mohite",
    "age": 22,
    "emailid":"yash@gmail.com",
    "skills":["Python","ML","DL","SQL"],
    "salary":60000,
    "job_role":"Data Scientist",
},{
    "name":"abhishake todkar ",
    "age": 28,
    "emailid":"abi@gmail.com",
    "skills":["Python","API's","Java","Databases"],
    "salary":120000,
    "job_role":"Developer"
},{
    "name":"yashika gor",
    "age": 21,
    "emailid":"yashika@gmail.com",
    "skills":["Rubi","ML","DL","SQL"],
    "salary":55000,
    "job_role":"Data Scientist"
},{
    "name":"yash kakade",
    "age": 21,
    "emailid":"yashu@gmail.com",
    "skills":["Python","Tally","Accounts"],
    "salary":550000,
    "job_role":"CA"
},{
    "name":"siddhesh patade",
    "age": 22,
    "emailid":"sid@gmail.com",
    "skills":[None],
    "salary":45000,
    "job_role":"Police SubInspector"
},{
    "name":"aditya bhosle",
    "age": 21,
    "emailid":"adi@gmail.com",
    "skills":["Python","SQL"],
    "salary":40000,
    "job_role":"Data Scientist"
},{
    "name":"isha suryavanshi",
    "age": 22,
    "emailid":"isha@gmail.com",
    "skills":["Communication","Hard Work"],
    "salary":23000,
    "job_role":"Customer Service"
}

In [5]:
collection.insert_many(data)

In [6]:
from pprint import pprint
for i in collection.find():
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e4f'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 150000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c6a9170fab842a14375e50'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e51'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c6a9170fab842a14375e53'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e54'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 35000,
 'skills': ['Communication', 'Hard Work']}
{'_id': ObjectId('63c7a2ff464d9604705593e6'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e7'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 120000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c7a2ff464d9604705593e8'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 55000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e9'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c7a2ff464d9604705593ea'),
 'age': 22,
 'emailid': 'sid@gmail.com',
 'job_role': 'Police SubInspector',
 'name': 'siddhesh patade',
 'salary': 45000,
 'skills': [None]}
{'_id': ObjectId('63c7a2ff464d9604705593eb'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593ec'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 23000,
 'skills': ['Communication', 'Hard Work']}

In [7]:
for i in collection.find({},{"emailid"}):
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'), 'emailid': 'yash@gmail.com'}
{'_id': ObjectId('63c6a9170fab842a14375e4f'), 'emailid': 'abi@gmail.com'}
{'_id': ObjectId('63c6a9170fab842a14375e50'), 'emailid': 'yashika@gmail.com'}
{'_id': ObjectId('63c6a9170fab842a14375e51'), 'emailid': 'yashu@gmail.com'}
{'_id': ObjectId('63c6a9170fab842a14375e53'), 'emailid': 'adi@gmail.com'}
{'_id': ObjectId('63c6a9170fab842a14375e54'), 'emailid': 'isha@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593e6'), 'emailid': 'yash@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593e7'), 'emailid': 'abi@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593e8'), 'emailid': 'yashika@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593e9'), 'emailid': 'yashu@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593ea'), 'emailid': 'sid@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593eb'), 'emailid': 'adi@gmail.com'}
{'_id': ObjectId('63c7a2ff464d9604705593ec'), 'emailid': 'isha@gmail.com'}

In [8]:
for i in collection.find({"emailid":"yashika@gmail.com"}):
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e50'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e8'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 55000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}

In [9]:
collection.update_one({"salary":55000},{"$set":{"salary":65000}})

In [10]:
for i in collection.find({"salary":{"$gt":40000}}):
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e4f'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 150000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c6a9170fab842a14375e50'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e51'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c7a2ff464d9604705593e6'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e7'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 120000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c7a2ff464d9604705593e8'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e9'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c7a2ff464d9604705593ea'),
 'age': 22,
 'emailid': 'sid@gmail.com',
 'job_role': 'Police SubInspector',
 'name': 'siddhesh patade',
 'salary': 45000,
 'skills': [None]}

In [11]:
for i in collection.find({"salary":{"$lte":40000}}):
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e53'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e54'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 35000,
 'skills': ['Communication', 'Hard Work']}
{'_id': ObjectId('63c7a2ff464d9604705593eb'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593ec'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 23000,
 'skills': ['Communication', 'Hard Work']}

In [12]:
collection.update_one({"salary":23000},{"$set":{"salary":35000}})

In [13]:
collection.delete_one({"name":"siddhesh patade"})

In [14]:
for i in collection.find():
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e4f'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 150000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c6a9170fab842a14375e50'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e51'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c6a9170fab842a14375e53'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e54'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 35000,
 'skills': ['Communication', 'Hard Work']}
{'_id': ObjectId('63c7a2ff464d9604705593e6'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e7'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 120000,
 'skills': ['Python', "API's", 'Java', 'Databases']}
{'_id': ObjectId('63c7a2ff464d9604705593e8'),
 'age': 21,
 'emailid': 'yashika@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yashika gor',
 'salary': 65000,
 'skills': ['Rubi', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593e9'),
 'age': 21,
 'emailid': 'yashu@gmail.com',
 'job_role': 'CA',
 'name': 'yash kakade',
 'salary': 550000,
 'skills': ['Python', 'Tally', 'Accounts']}
{'_id': ObjectId('63c7a2ff464d9604705593eb'),
 'age': 21,
 'emailid': 'adi@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'aditya bhosle',
 'salary': 40000,
 'skills': ['Python', 'SQL']}
{'_id': ObjectId('63c7a2ff464d9604705593ec'),
 'age': 22,
 'emailid': 'isha@gmail.com',
 'job_role': 'Customer Service',
 'name': 'isha suryavanshi',
 'salary': 35000,
 'skills': ['Communication', 'Hard Work']}

In [15]:
client.list_database_names()#this function give all data base name you have

['One_Neuron',
 'Work',
 'college',
 'ineuron',
 'mydatabase',
 'school',
 'admin',
 'local']

In [16]:
for i in collection.find().limit(2):#limit function five limited record to you
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'),
 'age': 22,
 'emailid': 'yash@gmail.com',
 'job_role': 'Data Scientist',
 'name': 'yash mohite',
 'salary': 60000,
 'skills': ['Python', 'ML', 'DL', 'SQL']}
{'_id': ObjectId('63c6a9170fab842a14375e4f'),
 'age': 28,
 'emailid': 'abi@gmail.com',
 'job_role': 'Developer',
 'name': 'abhishake todkar ',
 'salary': 150000,
 'skills': ['Python', "API's", 'Java', 'Databases']}

In [17]:
collection.find_one_and_update({"name":"abhishake todkar "},{"$set":{"salary":150000}})# we can update nay thing we want give condition

{'_id': ObjectId('63c6a9170fab842a14375e4f'),
 'name': 'abhishake todkar ',
 'age': 28,
 'emailid': 'abi@gmail.com',
 'skills': ['Python', "API's", 'Java', 'Databases'],
 'salary': 150000,
 'job_role': 'Developer'}

In [21]:
collection.update_many({"salary":{"$lt":40000}},{"$set":{"salary": 50000}})

In [22]:
for i in collection.find({},{"salary"}):
    pprint(i)

{'_id': ObjectId('63c6a9170fab842a14375e4e'), 'salary': 60000}
{'_id': ObjectId('63c6a9170fab842a14375e4f'), 'salary': 150000}
{'_id': ObjectId('63c6a9170fab842a14375e50'), 'salary': 65000}
{'_id': ObjectId('63c6a9170fab842a14375e51'), 'salary': 550000}
{'_id': ObjectId('63c6a9170fab842a14375e53'), 'salary': 40000}
{'_id': ObjectId('63c6a9170fab842a14375e54'), 'salary': 50000}
{'_id': ObjectId('63c7a2ff464d9604705593e6'), 'salary': 60000}
{'_id': ObjectId('63c7a2ff464d9604705593e7'), 'salary': 120000}
{'_id': ObjectId('63c7a2ff464d9604705593e8'), 'salary': 65000}
{'_id': ObjectId('63c7a2ff464d9604705593e9'), 'salary': 550000}
{'_id': ObjectId('63c7a2ff464d9604705593eb'), 'salary': 40000}
{'_id': ObjectId('63c7a2ff464d9604705593ec'), 'salary': 50000}