In [1]:
from pprint import pprint
import pymongo
client = pymongo.MongoClient("mongodb+srv://yashmohite:12345678ym@cluster0.urvqe3y.mongodb.net/?retryWrites=true&w=majority")
db = client.test #pointer 
print(db)

Database(MongoClient(host=['ac-d6qyvfk-shard-00-02.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-00.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-01.urvqe3y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lkhn33-shard-0', tls=True), 'test')

In [2]:
client.list_database_names()

['Test', 'ineuron', 'school', 'admin', 'local']

In [3]:
db = client["police_line"]

In [4]:
collection = db["line_boys"]

In [7]:
data = [{
    "name":"yash mohite",
    "age": 22,
    "hight":"5.8ft",
    "work":"Data Scientist",
    "salary": 60000,
},{
    "name":"yashika gor",
    "age": 22,
    "hight":"5.5ft",
    "work":"Data Scientist",
    "salary": 50000,
},{
    "name":"isha suryavanshi",
    "age": 23,
    "hight":"5.4ft",
    "work":"Customer service",
    "salary": 25000,
},{
    "name":"ankita gurav",
    "age": 22,
    "hight":"5.6ft",
    "work":"Customer service",
    "salary": 25000,
},{
    "name":"aditya bhosle",
    "age": 21,
    "hight":"5.6",
    "work":"Police Constable",
    "salary": 40000,
},{
    "name":"siddhesh patade",
    "age": 22,
    "hight":"5.7ft",
    "work":"Police Sub Inspector",
    "salary": 50000,
},{
    "name":"rishik mahajan",
    "age": 22,
    "hight":"5.9ft",
    "work":"Business Analyist",
    "salary": 35000,
},{
    "name":"abhishake",
    "age": 28,
    "hight":"5.10ft",
    "work":"Web Developer",
    "salary": 120000,
}]

In [8]:
collection.insert_many(data)

In [10]:
for i in collection.find():
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'),
 'age': 22,
 'hight': '5.8ft',
 'name': 'yash mohite',
 'salary': 60000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'),
 'age': 22,
 'hight': '5.5ft',
 'name': 'yashika gor',
 'salary': 50000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'),
 'age': 23,
 'hight': '5.4ft',
 'name': 'isha suryavanshi',
 'salary': 25000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'),
 'age': 22,
 'hight': '5.6ft',
 'name': 'ankita gurav',
 'salary': 25000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'),
 'age': 21,
 'hight': '5.6',
 'name': 'aditya bhosle',
 'salary': 40000,
 'work': 'Police Constable'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'),
 'age': 22,
 'hight': '5.7ft',
 'name': 'siddhesh patade',
 'salary': 50000,
 'work': 'Police Sub Inspector'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'),
 'age': 22,
 'hight': '5.9ft',
 'name': 'rishik mahajan',
 'salary': 35000,
 'work': 'Business Analyist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'),
 'age': 28,
 'hight': '5.10ft',
 'name': 'abhishake',
 'salary': 120000,
 'work': 'Web Developer'}

In [11]:
collection.find_one()

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'),
 'name': 'yash mohite',
 'age': 22,
 'hight': '5.8ft',
 'work': 'Data Scientist',
 'salary': 60000}

In [14]:
for i in collection.find({},{'name','age'}):
    print(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'), 'name': 'yash mohite', 'age': 22}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'), 'name': 'yashika gor', 'age': 22}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'), 'name': 'isha suryavanshi', 'age': 23}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'), 'name': 'ankita gurav', 'age': 22}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'), 'name': 'aditya bhosle', 'age': 21}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'), 'name': 'siddhesh patade', 'age': 22}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'), 'name': 'rishik mahajan', 'age': 22}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'), 'name': 'abhishake', 'age': 28}

In [20]:
for i in collection.find({},{'name','salary'}):
    print(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'), 'name': 'yash mohite', 'salary': 60000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'), 'name': 'yashika gor', 'salary': 50000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'), 'name': 'isha suryavanshi', 'salary': 25000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'), 'name': 'ankita gurav', 'salary': 25000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'), 'name': 'aditya bhosle', 'salary': 40000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'), 'name': 'siddhesh patade', 'salary': 50000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'), 'name': 'rishik mahajan', 'salary': 35000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'), 'name': 'abhishake', 'salary': 120000}

In [25]:
for i in collection.find({'age': 22}):
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'),
 'age': 22,
 'hight': '5.8ft',
 'name': 'yash mohite',
 'salary': 60000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'),
 'age': 22,
 'hight': '5.5ft',
 'name': 'yashika gor',
 'salary': 50000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'),
 'age': 22,
 'hight': '5.6ft',
 'name': 'ankita gurav',
 'salary': 25000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'),
 'age': 22,
 'hight': '5.7ft',
 'name': 'siddhesh patade',
 'salary': 50000,
 'work': 'Police Sub Inspector'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'),
 'age': 22,
 'hight': '5.9ft',
 'name': 'rishik mahajan',
 'salary': 35000,
 'work': 'Business Analyist'}

In [27]:
for i in collection.find({'age':{"$lt":22}}):
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'),
 'age': 21,
 'hight': '5.6',
 'name': 'aditya bhosle',
 'salary': 40000,
 'work': 'Police Constable'}

In [28]:
for i in collection.find({'age':{"$gt":22}}):
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'),
 'age': 23,
 'hight': '5.4ft',
 'name': 'isha suryavanshi',
 'salary': 25000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'),
 'age': 28,
 'hight': '5.10ft',
 'name': 'abhishake',
 'salary': 120000,
 'work': 'Web Developer'}

In [29]:
collection.update_one({'name': 'yash mohite'},{"$set":{'salary': 120000}})

In [30]:
collection.update_one({'name': 'isha suryavanshi'},{"$set":{'salary': 30000}})

In [33]:
for i in collection.find({},{'salary'}):
    print(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'), 'salary': 120000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'), 'salary': 50000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'), 'salary': 30000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'), 'salary': 25000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'), 'salary': 40000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'), 'salary': 50000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'), 'salary': 35000}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'), 'salary': 120000}

In [37]:
for i in collection.find({'salary':{"$gte":50000}}):
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bb'),
 'age': 22,
 'hight': '5.8ft',
 'name': 'yash mohite',
 'salary': 120000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bc'),
 'age': 22,
 'hight': '5.5ft',
 'name': 'yashika gor',
 'salary': 50000,
 'work': 'Data Scientist'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c0'),
 'age': 22,
 'hight': '5.7ft',
 'name': 'siddhesh patade',
 'salary': 50000,
 'work': 'Police Sub Inspector'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c2'),
 'age': 28,
 'hight': '5.10ft',
 'name': 'abhishake',
 'salary': 120000,
 'work': 'Web Developer'}

In [38]:
for i in collection.find({'salary':{"$lt":50000}}):
    pprint(i)

{'_id': ObjectId('63e2259af2a6bbcd2361a8bd'),
 'age': 23,
 'hight': '5.4ft',
 'name': 'isha suryavanshi',
 'salary': 30000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8be'),
 'age': 22,
 'hight': '5.6ft',
 'name': 'ankita gurav',
 'salary': 25000,
 'work': 'Customer service'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8bf'),
 'age': 21,
 'hight': '5.6',
 'name': 'aditya bhosle',
 'salary': 40000,
 'work': 'Police Constable'}
{'_id': ObjectId('63e2259af2a6bbcd2361a8c1'),
 'age': 22,
 'hight': '5.9ft',
 'name': 'rishik mahajan',
 'salary': 35000,
 'work': 'Business Analyist'}

In [39]:
collection.delete_one({'name': 'aditya bhosle'})