In [8]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://yashmohite:12345678ym@cluster0.urvqe3y.mongodb.net/?retryWrites=true&w=majority")
db = client.test #pointer 
print(db)

Database(MongoClient(host=['ac-d6qyvfk-shard-00-00.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-01.urvqe3y.mongodb.net:27017', 'ac-d6qyvfk-shard-00-02.urvqe3y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-lkhn33-shard-0', tls=True), 'test')

In [9]:
db = client["school"]

In [10]:
collection1 = db["subjects"]

In [11]:
collection2 = db["students"]

In [12]:
data1 = {
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"1-2-2023",
    "mode":"offline",
    "price":10000,
},{
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"1-4-2023",
    "mode":"offline",
    "price":2000,
},{
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"1-6-2023",
    "mode":"offline",
    "price":11000,
},{
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"1-8-2023",
    "mode":"offline",
    "price":5000,
},{
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"1-11-2023",
    "mode":"offline",
    "price":1000,
},{
    "subject_names":["English","Hindi","Marathi","Maths","Science","History","grograpgy"],
    "Teachers_names":["Bhuan Bam","Carry Manaty","Abhishake Uppamanu","Basi"],
    "starting_date":"10-1-2024",
    "mode":"offline",
    "price":500,
}

In [13]:
collection1.insert_many(data1)

In [14]:
data2 = {
    "student_name":"yash mohite",
    "age":22,
    "hobbies":["Sex","Cricket","Tacking"],
    "email":"yash@gmail.com"
},{
    "student_name":"yashika gor",
    "age":21,
    "hobbies":["photos","singing","Tacking"],
    "email":"yashika@gmail.com"
},{
    "student_name":"isha ghoil",
    "age":22,
    "hobbies":["Sex","pub","Tacking"],
    "email":"gohil@gmail.com"
},{
    "student_name":"isha suryavanshi",
    "age":23,
    "hobbies":["Sex","Fake promises","Tacking","foodi"],
    "email":"isha18@gmail.com"
},{
    "student_name":"siddhesh patade",
    "age":22,
    "hobbies":["Sex","Football","swaming"],
    "email":"sid@gmail.com"
},{
    "student_name":"aditya bhosle",
    "age":21,
    "hobbies":["Daru","Cricket","Sutta"],
    "email":"adi@gmail.com"
},{
    "student_name":"rutuja rane",
    "age":22,
    "hobbies":["daru","housi","Tacking"],
    "email":"yash@gmail.com"
},{
    "student_name":"yash kakade",
    "age":22,
    "hobbies":["chutiyap","Cricket"],
    "email":"yashkakade@gmail.com"
},{
    "student_name":"vaishnavi manjeraker",
    "age":23,
    "hobbies":["Sex","Fake promises","Tacking"],
    "email":"vaishu@gmail.com"
}

In [15]:
collection2.insert_many(data2)

In [16]:
from pprint import pprint

for i in collection1.find():
    pprint(i)

{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a774'),
 'mode': 'offline',
 'price': 10000,
 'starting_date': '1-2-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a775'),
 'mode': 'offline',
 'price': 2000,
 'starting_date': '1-4-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a776'),
 'mode': 'offline',
 'price': 11000,
 'starting_date': '1-6-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a777'),
 'mode': 'offline',
 'price': 5000,
 'starting_date': '1-8-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a778'),
 'mode': 'offline',
 'price': 1000,
 'starting_date': '1-11-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a779'),
 'mode': 'offline',
 'price': 500,
 'starting_date': '10-1-2024',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}

In [17]:
for i in collection2.find():
    pprint(i)

{'_id': ObjectId('63c4f11bda20e148ce47a77a'),
 'age': 22,
 'email': 'yash@gmail.com',
 'hobbies': ['Sex', 'Cricket', 'Tacking'],
 'student_name': 'yash mohite'}
{'_id': ObjectId('63c4f11bda20e148ce47a77b'),
 'age': 21,
 'email': 'yashika@gmail.com',
 'hobbies': ['photos', 'singing', 'Tacking'],
 'student_name': 'yashika gor'}
{'_id': ObjectId('63c4f11bda20e148ce47a77c'),
 'age': 22,
 'email': 'gohil@gmail.com',
 'hobbies': ['Sex', 'pub', 'Tacking'],
 'student_name': 'isha ghoil'}
{'_id': ObjectId('63c4f11bda20e148ce47a77d'),
 'age': 23,
 'email': 'isha18@gmail.com',
 'hobbies': ['Sex', 'Fake promises', 'Tacking', 'foodi'],
 'student_name': 'isha suryavanshi'}
{'_id': ObjectId('63c4f11bda20e148ce47a77e'),
 'age': 22,
 'email': 'sid@gmail.com',
 'hobbies': ['Sex', 'Football', 'swaming'],
 'student_name': 'siddhesh patade'}
{'_id': ObjectId('63c4f11bda20e148ce47a77f'),
 'age': 21,
 'email': 'adi@gmail.com',
 'hobbies': ['Daru', 'Cricket', 'Sutta'],
 'student_name': 'aditya bhosle'}
{'_id': ObjectId('63c4f11bda20e148ce47a780'),
 'age': 22,
 'email': 'yash@gmail.com',
 'hobbies': ['daru', 'housi', 'Tacking'],
 'student_name': 'rutuja rane'}
{'_id': ObjectId('63c4f11bda20e148ce47a781'),
 'age': 22,
 'email': 'yashkakade@gmail.com',
 'hobbies': ['chutiyap', 'Cricket'],
 'student_name': 'yash kakade'}
{'_id': ObjectId('63c4f11bda20e148ce47a782'),
 'age': 23,
 'email': 'vaishu@gmail.com',
 'hobbies': ['Sex', 'Fake promises', 'Tacking'],
 'student_name': 'vaishnavi manjeraker'}

In [18]:
for i in collection1.find({},{'price'}):
    pprint(i)

{'_id': ObjectId('63c4ee6eda20e148ce47a774'), 'price': 10000}
{'_id': ObjectId('63c4ee6eda20e148ce47a775'), 'price': 2000}
{'_id': ObjectId('63c4ee6eda20e148ce47a776'), 'price': 11000}
{'_id': ObjectId('63c4ee6eda20e148ce47a777'), 'price': 5000}
{'_id': ObjectId('63c4ee6eda20e148ce47a778'), 'price': 1000}
{'_id': ObjectId('63c4ee6eda20e148ce47a779'), 'price': 500}

In [19]:
for i in collection2.find({},{'email'}):
    pprint(i)

{'_id': ObjectId('63c4f11bda20e148ce47a77a'), 'email': 'yash@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a77b'), 'email': 'yashika@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a77c'), 'email': 'gohil@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a77d'), 'email': 'isha18@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a77e'), 'email': 'sid@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a77f'), 'email': 'adi@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a780'), 'email': 'yash@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a781'), 'email': 'yashkakade@gmail.com'}
{'_id': ObjectId('63c4f11bda20e148ce47a782'), 'email': 'vaishu@gmail.com'}

In [28]:
for i in collection1.find({"price":500}):
    pprint(i)

{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a779'),
 'mode': 'offline',
 'price': 500,
 'starting_date': '10-1-2024',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}

In [31]:
for i in collection2.find({'student_name': 'yashika gor'}):
    pprint(i)

{'_id': ObjectId('63c4f11bda20e148ce47a77b'),
 'age': 21,
 'email': 'yashika@gmail.com',
 'hobbies': ['photos', 'singing', 'Tacking'],
 'student_name': 'yashika gor'}

In [35]:
collection1.update_one({'price': 11000},{"$set":{'price':8000}})

In [36]:
for i in collection1.find({"price":{"$gte":8000}}):
    pprint(i)

{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a774'),
 'mode': 'offline',
 'price': 10000,
 'starting_date': '1-2-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a776'),
 'mode': 'offline',
 'price': 8000,
 'starting_date': '1-6-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}

In [37]:
for i in collection1.find({"price":{"$lte":8000}}):
    pprint(i)

{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a775'),
 'mode': 'offline',
 'price': 2000,
 'starting_date': '1-4-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a776'),
 'mode': 'offline',
 'price': 8000,
 'starting_date': '1-6-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a777'),
 'mode': 'offline',
 'price': 5000,
 'starting_date': '1-8-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a778'),
 'mode': 'offline',
 'price': 1000,
 'starting_date': '1-11-2023',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}
{'Teachers_names': ['Bhuan Bam', 'Carry Manaty', 'Abhishake Uppamanu', 'Basi'],
 '_id': ObjectId('63c4ee6eda20e148ce47a779'),
 'mode': 'offline',
 'price': 500,
 'starting_date': '10-1-2024',
 'subject_names': ['English',
                   'Hindi',
                   'Marathi',
                   'Maths',
                   'Science',
                   'History',
                   'grograpgy']}

In [38]:
collection1.delete_one({'price': 500})